# Preprocessing using pyspark

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # install Java8
!wget -q https://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz # download spark 3.1.1
!tar xf spark-3.1.1-bin-hadoop2.7.tgz # unzip it
!pip install -q findspark # install findspark
!pip install pyspark==3.1.1 # install pyspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession

Requirement already satisfied: pyspark==3.1.1 in /usr/local/lib/python3.10/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.1.1) (0.10.9)

In [2]:
spark = SparkSession.builder.master("local").config(conf = SparkConf()).getOrCreate()
spark

### Read data and perform basic operations

In [3]:
df = spark.read.csv(path = "/content/employee.txt", header = True, inferSchema = True)
df

DataFrame[id: int, last_name: string, email: string, gender: string, department: string, start_date: string, salary: int, job_title: string, region_id: int]

In [4]:
df.schema

StructType(List(StructField(id,IntegerType,true),StructField(last_name,StringType,true),StructField(email,StringType,true),StructField(gender,StringType,true),StructField(department,StringType,true),StructField(start_date,StringType,true),StructField(salary,IntegerType,true),StructField(job_title,StringType,true),StructField(region_id,IntegerType,true)))

In [5]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- job_title: string (nullable = true)
 |-- region_id: integer (nullable = true)

In [6]:
df.columns

['id',
 'last_name',
 'email',
 'gender',
 'department',
 'start_date',
 'salary',
 'job_title',
 'region_id']

In [7]:
df.take(5)

[Row(id=1, last_name="'Kelley'", email="'rkelley0@soundcloud.com'", gender="'Female'", department="'Computers'", start_date="'10/2/2009'", salary=67470, job_title="'Structural Engineer'", region_id=2),
 Row(id=2, last_name="'Armstrong'", email="'sarmstrong1@infoseek.co.jp'", gender="'Male'", department="'Sports'", start_date="'3/31/2008'", salary=71869, job_title="'Financial Advisor'", region_id=2),
 Row(id=3, last_name="'Carr'", email="'fcarr2@woothemes.com'", gender="'Male'", department="'Automotive'", start_date="'7/12/2009'", salary=101768, job_title="'Recruiting Manager'", region_id=3),
 Row(id=4, last_name="'Murray'", email="'jmurray3@gov.uk'", gender="'Female'", department="'Jewelery'", start_date="'12/25/2014'", salary=96897, job_title="'Desktop Support Technician'", region_id=3),
 Row(id=5, last_name="'Ellis'", email="'jellis4@sciencedirect.com'", gender="'Female'", department="'Grocery'", start_date="'9/19/2002'", salary=63702, job_title="'Software Engineer III'", region_id=7)]

In [8]:
type(df.take(5)[0])

pyspark.sql.types.Row

In [9]:
df.head(5)

[Row(id=1, last_name="'Kelley'", email="'rkelley0@soundcloud.com'", gender="'Female'", department="'Computers'", start_date="'10/2/2009'", salary=67470, job_title="'Structural Engineer'", region_id=2),
 Row(id=2, last_name="'Armstrong'", email="'sarmstrong1@infoseek.co.jp'", gender="'Male'", department="'Sports'", start_date="'3/31/2008'", salary=71869, job_title="'Financial Advisor'", region_id=2),
 Row(id=3, last_name="'Carr'", email="'fcarr2@woothemes.com'", gender="'Male'", department="'Automotive'", start_date="'7/12/2009'", salary=101768, job_title="'Recruiting Manager'", region_id=3),
 Row(id=4, last_name="'Murray'", email="'jmurray3@gov.uk'", gender="'Female'", department="'Jewelery'", start_date="'12/25/2014'", salary=96897, job_title="'Desktop Support Technician'", region_id=3),
 Row(id=5, last_name="'Ellis'", email="'jellis4@sciencedirect.com'", gender="'Female'", department="'Grocery'", start_date="'9/19/2002'", salary=63702, job_title="'Software Engineer III'", region_id=7)]

In [10]:
df.tail(5)

[Row(id=996, last_name="'James'", email="'tjamesrn@soundcloud.com'", gender="'Female'", department="'Games'", start_date="'11/17/2013'", salary=78433, job_title="'Accountant II'", region_id=7),
 Row(id=997, last_name="'Reynolds'", email="'dreynoldsro@blogtalkradio.com'", gender="'Female'", department="'Computers'", start_date="'4/16/2007'", salary=120138, job_title="'Statistician IV'", region_id=1),
 Row(id=998, last_name="'Walker'", email="'kwalkerrp@unicef.org'", gender="'Female'", department="'Games'", start_date="'2/13/2010'", salary=60363, job_title="'Account Coordinator'", region_id=1),
 Row(id=999, last_name="'Kennedy'", email="'lkennedyrq@edublogs.org'", gender="'Male'", department="'Industrial'", start_date="'9/22/2004'", salary=48050, job_title="'Graphic Designer'", region_id=2),
 Row(id=1000, last_name="'Howard'", email="'showardrr@addtoany.com'", gender="'Male'", department="'Baby'", start_date="'11/7/2003'", salary=148687, job_title="'General Manager'", region_id=3)]

In [11]:
df.count()

1000

In [12]:
df.describe().show()

+-------+-----------------+---------+--------------------+--------+------------+----------+------------------+--------------------+-----------------+
|summary|               id|last_name|               email|  gender|  department|start_date|            salary|           job_title|        region_id|
+-------+-----------------+---------+--------------------+--------+------------+----------+------------------+--------------------+-----------------+
|  count|             1000|     1000|                1000|    1000|        1000|      1000|              1000|                1000|             1000|
|   mean|            500.5|     null|                null|    null|        null|      null|         97331.223|                null|            3.971|
| stddev|288.8194360957494|     null|                null|    null|        null|      null|31753.109191299463|                null|2.017977014544822|
|    min|                1|  'Adams'|'aalexandero8@his...|'Female'|'Automotive'|'1/1/2004'|             40138|'Account Coordina...|                1|
|    max|             1000|  'Young'|'wwilliams2o@berk...|  'Male'|      'Toys'|'9/9/2014'|            149929|  'Web Developer IV'|                7|
+-------+-----------------+---------+--------------------+--------+------------+----------+------------------+--------------------+-----------------+

In [13]:
df.select('id', 'last_name', 'salary').describe().show()

+-------+-----------------+---------+------------------+
|summary|               id|last_name|            salary|
+-------+-----------------+---------+------------------+
|  count|             1000|     1000|              1000|
|   mean|            500.5|     null|         97331.223|
| stddev|288.8194360957494|     null|31753.109191299463|
|    min|                1|  'Adams'|             40138|
|    max|             1000|  'Young'|            149929|
+-------+-----------------+---------+------------------+

In [14]:
df_sample = df.sample(withReplacement = False, fraction = 0.1, seed = 0)
df_sample

DataFrame[id: int, last_name: string, email: string, gender: string, department: string, start_date: string, salary: int, job_title: string, region_id: int]

In [15]:
df_sample.count()

103

In [16]:
df_sample.head(5)

[Row(id=3, last_name="'Carr'", email="'fcarr2@woothemes.com'", gender="'Male'", department="'Automotive'", start_date="'7/12/2009'", salary=101768, job_title="'Recruiting Manager'", region_id=3),
 Row(id=10, last_name="'Sanchez'", email="'rsanchez9@cloudflare.com'", gender="'Male'", department="'Movies'", start_date="'3/13/2013'", salary=108093, job_title="'Sales Representative'", region_id=1),
 Row(id=17, last_name="'Morgan'", email="'dmorgang@123-reg.co.uk'", gender="'Female'", department="'Kids'", start_date="'5/4/2011'", salary=148952, job_title="'Programmer IV'", region_id=6),
 Row(id=27, last_name="'Owens'", email="'cowensq@shareasale.com'", gender="'Female'", department="'Home'", start_date="'5/26/2005'", salary=78698, job_title="'Executive Secretary'", region_id=2),
 Row(id=47, last_name="'Oliver'", email="'joliver1a@cnbc.com'", gender="'Female'", department="'Clothing'", start_date="'8/30/2013'", salary=42797, job_title="'Software Engineer III'", region_id=5)]

In [17]:
df_sample.describe().show()

+-------+------------------+-----------+--------------------+--------+------------+-----------+------------------+-------------------+------------------+
|summary|                id|  last_name|               email|  gender|  department| start_date|            salary|          job_title|         region_id|
+-------+------------------+-----------+--------------------+--------+------------+-----------+------------------+-------------------+------------------+
|  count|               103|        103|                 103|     103|         103|        103|               103|                103|               103|
|   mean| 473.3883495145631|       null|                null|    null|        null|       null|103965.12621359223|               null| 3.766990291262136|
| stddev|288.20340151922073|       null|                null|    null|        null|       null| 30953.85006484419|               null|1.9813042025499445|
|    min|                 3|'Alexander'|'aalexandero8@his...|'Female'|'Automotive'|'1/12/2007'|             40218|'Account Executive'|                 1|
|    max|               962|    'Young'|'vgarcia1m@devian...|  'Male'|      'Toys'|'9/29/2012'|            149835| 'Web Developer IV'|                 7|
+-------+------------------+-----------+--------------------+--------+------------+-----------+------------------+-------------------+------------------+

In [18]:
df_sample.collect()

[Row(id=3, last_name="'Carr'", email="'fcarr2@woothemes.com'", gender="'Male'", department="'Automotive'", start_date="'7/12/2009'", salary=101768, job_title="'Recruiting Manager'", region_id=3),
 Row(id=10, last_name="'Sanchez'", email="'rsanchez9@cloudflare.com'", gender="'Male'", department="'Movies'", start_date="'3/13/2013'", salary=108093, job_title="'Sales Representative'", region_id=1),
 Row(id=17, last_name="'Morgan'", email="'dmorgang@123-reg.co.uk'", gender="'Female'", department="'Kids'", start_date="'5/4/2011'", salary=148952, job_title="'Programmer IV'", region_id=6),
 Row(id=27, last_name="'Owens'", email="'cowensq@shareasale.com'", gender="'Female'", department="'Home'", start_date="'5/26/2005'", salary=78698, job_title="'Executive Secretary'", region_id=2),
 Row(id=47, last_name="'Oliver'", email="'joliver1a@cnbc.com'", gender="'Female'", department="'Clothing'", start_date="'8/30/2013'", salary=42797, job_title="'Software Engineer III'", region_id=5),
 Row(id=58, last_name="'Baker'", email="'jbaker1l@usnews.com'", gender="'Male'", department="'Games'", start_date="'3/2/2007'", salary=68857, job_title="'Information Systems Manager'", region_id=2),
 Row(id=59, last_name="'Garcia'", email="'vgarcia1m@deviantart.com'", gender="'Female'", department="'Health'", start_date="'3/19/2002'", salary=48360, job_title="'Registered Nurse'", region_id=6),
 Row(id=67, last_name="'Mills'", email="'jmills1u@printfriendly.com'", gender="'Female'", department="'Grocery'", start_date="'8/8/2004'", salary=114200, job_title="'Senior Sales Associate'", region_id=7),
 Row(id=80, last_name="'Little'", email="'klittle27@un.org'", gender="'Male'", department="'Music'", start_date="'9/12/2001'", salary=114647, job_title="'Editor'", region_id=5),
 Row(id=93, last_name="'Knight'", email="'nknight2k@cafepress.com'", gender="'Female'", department="'Electronics'", start_date="'4/3/2014'", salary=125847, job_title="'Chemical Engineer'", region_id=5),
 Row(id=115, last_name="'Nguyen'", email="'rnguyen36@bandcamp.com'", gender="'Female'", department="'Clothing'", start_date="'6/30/2007'", salary=58420, job_title="'Graphic Designer'", region_id=1),
 Row(id=127, last_name="'Harper'", email="'sharper3i@slideshare.net'", gender="'Female'", department="'Outdoors'", start_date="'5/18/2000'", salary=144639, job_title="'VP Quality Control'", region_id=7),
 Row(id=139, last_name="'Hart'", email="'rhart3u@wsj.com'", gender="'Male'", department="'Jewelery'", start_date="'1/8/2012'", salary=119773, job_title="'Pharmacist'", region_id=3),
 Row(id=141, last_name="'Williamson'", email="'rwilliamson3w@amazon.co.jp'", gender="'Male'", department="'Games'", start_date="'12/12/2005'", salary=145575, job_title="'VP Accounting'", region_id=1),
 Row(id=146, last_name="'Thompson'", email="'athompson41@booking.com'", gender="'Male'", department="'Movies'", start_date="'2/4/2009'", salary=133281, job_title="'Account Executive'", region_id=6),
 Row(id=149, last_name="'Meyer'", email="'jmeyer44@facebook.com'", gender="'Female'", department="'Toys'", start_date="'5/3/2008'", salary=76352, job_title="'Human Resources Assistant IV'", region_id=4),
 Row(id=171, last_name="'Harris'", email="'mharris4q@squarespace.com'", gender="'Female'", department="'Movies'", start_date="'9/27/2004'", salary=110912, job_title="'Geologist I'", region_id=5),
 Row(id=178, last_name="'Butler'", email="'cbutler4x@amazon.de'", gender="'Female'", department="'Sports'", start_date="'2/17/2003'", salary=78157, job_title="'Librarian'", region_id=1),
 Row(id=182, last_name="'Gomez'", email="'rgomez51@baidu.com'", gender="'Female'", department="'Industrial'", start_date="'4/4/2009'", salary=76932, job_title="'Legal Assistant'", region_id=5),
 Row(id=185, last_name="'Watson'", email="'rwatson54@webeden.co.uk'", gender="'Female'", department="'Clothing'", start_date="'9/22/2001'", salary=74648, job_title="'Health Coach III'", region_id=2),
 Row(id=190, last_name="'Powell'", email="'hpowell59@geocities.com'", gender="'Female'", department="'Health'", start_date="'11/13/2002'", salary=120577, job_title="'Web Designer III'", region_id=1),
 Row(id=204, last_name="'Powell'", email="'cpowell5n@cocolog-nifty.com'", gender="'Female'", department="'Beauty'", start_date="'9/25/2000'", salary=116013, job_title="'Tax Accountant'", region_id=4),
 Row(id=205, last_name="'Graham'", email="'jgraham5o@printfriendly.com'", gender="'Female'", department="'Games'", start_date="'9/10/2008'", salary=109058, job_title="'Chemical Engineer'", region_id=7),
 Row(id=206, last_name="'Riley'", email="'hriley5p@dailymotion.com'", gender="'Male'", department="'Toys'", start_date="'5/6/2012'", salary=61992, job_title="'Sales Representative'", region_id=4),
 Row(id=207, last_name="'Harris'", email="'mharris5q@utexas.edu'", gender="'Female'", department="'Movies'", start_date="'10/2/2008'", salary=129527, job_title="'Statistician II'", region_id=2),
 Row(id=214, last_name="'West'", email="'gwest5x@hao123.com'", gender="'Male'", department="'Computers'", start_date="'10/31/2003'", salary=66084, job_title="'Electrical Engineer'", region_id=6),
 Row(id=226, last_name="'Gonzalez'", email="'tgonzalez69@umich.edu'", gender="'Male'", department="'Health'", start_date="'11/12/2005'", salary=106833, job_title="'Registered Nurse'", region_id=7),
 Row(id=238, last_name="'Gonzales'", email="'cgonzales6l@berkeley.edu'", gender="'Male'", department="'Movies'", start_date="'4/6/2014'", salary=131274, job_title="'Clinical Specialist'", region_id=2),
 Row(id=239, last_name="'Williamson'", email="'jwilliamson6m@arizona.edu'", gender="'Female'", department="'Computers'", start_date="'2/16/2005'", salary=149085, job_title="'Software Engineer III'", region_id=7),
 Row(id=252, last_name="'Johnston'", email="'jjohnston6z@irs.gov'", gender="'Male'", department="'Tools'", start_date="'12/16/2000'", salary=87072, job_title="'Structural Engineer'", region_id=7),
 Row(id=253, last_name="'Marshall'", email="'mmarshall70@hibu.com'", gender="'Female'", department="'Computers'", start_date="'5/12/2003'", salary=123401, job_title="'Computer Systems Analyst I'", region_id=4),
 Row(id=256, last_name="'Stone'", email="'gstone73@google.es'", gender="'Female'", department="'Books'", start_date="'12/1/2006'", salary=87816, job_title="'Administrative Assistant I'", region_id=2),
 Row(id=257, last_name="'Freeman'", email="'gfreeman74@bloomberg.com'", gender="'Female'", department="'Home'", start_date="'6/5/2012'", salary=83804, job_title="'Operator'", region_id=1),
 Row(id=271, last_name="'Jordan'", email="'pjordan7i@squidoo.com'", gender="'Female'", department="'Sports'", start_date="'8/7/2001'", salary=123843, job_title="'Senior Sales Associate'", region_id=7),
 Row(id=303, last_name="'West'", email="'jwest8e@berkeley.edu'", gender="'Male'", department="'Electronics'", start_date="'3/15/2012'", salary=76943, job_title="'General Manager'", region_id=7),
 Row(id=304, last_name="'Mccoy'", email="'mmccoy8f@wisc.edu'", gender="'Female'", department="'Books'", start_date="'5/26/2007'", salary=77486, job_title="'Community Outreach Specialist'", region_id=4),
 Row(id=315, last_name="'Smith'", email="'bsmith8q@mysql.com'", gender="'Male'", department="'Games'", start_date="'7/25/2012'", salary=59580, job_title="'General Manager'", region_id=2),
 Row(id=316, last_name="'Peters'", email="'cpeters8r@epa.gov'", gender="'Male'", department="'Sports'", start_date="'9/16/2010'", salary=40418, job_title="'VP Marketing'", region_id=2),
 Row(id=318, last_name="'Moore'", email="'jmoore8t@umich.edu'", gender="'Male'", department="'Computers'", start_date="'4/27/2003'", salary=139304, job_title="'Help Desk Technician'", region_id=3),
 Row(id=326, last_name="'Castillo'", email="'bcastillo91@hc360.com'", gender="'Female'", department="'Jewelery'", start_date="'12/12/2007'", salary=130188, job_title="'Social Worker'", region_id=3),
 Row(id=329, last_name="'Mccoy'", email="'hmccoy94@miitbeian.gov.cn'", gender="'Female'", department="'Shoes'", start_date="'7/27/2004'", salary=86803, job_title="'Administrative Assistant III'", region_id=4),
 Row(id=339, last_name="'Hudson'", email="'rhudson9e@geocities.com'", gender="'Female'", department="'Jewelery'", start_date="'7/23/2004'", salary=78294, job_title="'Software Consultant'", region_id=4),
 Row(id=358, last_name="'Gutierrez'", email="'jgutierrez9x@telegraph.co.uk'", gender="'Male'", department="'Automotive'", start_date="'6/17/2002'", salary=67800, job_title="'Desktop Support Technician'", region_id=2),
 Row(id=361, last_name="'Rice'", email="'dricea0@hubpages.com'", gender="'Female'", department="'Garden'", start_date="'12/6/2006'", salary=144724, job_title="'Senior Quality Engineer'", region_id=7),
 Row(id=372, last_name="'Harper'", email="'rharperab@china.com.cn'", gender="'Female'", department="'Kids'", start_date="'8/31/2001'", salary=96163, job_title="'Safety Technician IV'", region_id=3),
 Row(id=374, last_name="'Mcdonald'", email="'jmcdonaldad@sbwire.com'", gender="'Female'", department="'Baby'", start_date="'9/19/2005'", salary=141464, job_title="'Programmer IV'", region_id=4),
 Row(id=391, last_name="'White'", email="'cwhiteau@amazon.de'", gender="'Female'", department="'Clothing'", start_date="'11/4/2003'", salary=147702, job_title="'VP Quality Control'", region_id=4),
 Row(id=407, last_name="'Vasquez'", email="'jvasquezba@dion.ne.jp'", gender="'Male'", department="'Baby'", start_date="'4/9/2013'", salary=54704, job_title="'Analog Circuit Design manager'", region_id=3),
 Row(id=410, last_name="'Harris'", email="'lharrisbd@ow.ly'", gender="'Female'", department="'Tools'", start_date="'1/7/2012'", salary=148940, job_title="'Senior Financial Analyst'", region_id=6),
 Row(id=419, last_name="'Dixon'", email="'jdixonbm@indiatimes.com'", gender="'Male'", department="'Health'", start_date="'2/22/2008'", salary=104224, job_title="'Clinical Specialist'", region_id=5),
 Row(id=422, last_name="'Torres'", email="'ctorresbp@yahoo.com'", gender="'Female'", department="'Computers'", start_date="'9/17/2009'", salary=118307, job_title="'Staff Accountant II'", region_id=1),
 Row(id=445, last_name="'Greene'", email="'dgreenecc@reuters.com'", gender="'Male'", department="'Toys'", start_date="'3/23/2002'", salary=149835, job_title="'Geologist III'", region_id=1),
 Row(id=449, last_name="'Gray'", email="'tgraycg@fotki.com'", gender="'Female'", department="'Clothing'", start_date="'4/20/2014'", salary=134205, job_title="'Biostatistician I'", region_id=4),
 Row(id=452, last_name="'Kennedy'", email="'ckennedycj@boston.com'", gender="'Female'", department="'Toys'", start_date="'5/10/2000'", salary=111072, job_title="'Senior Quality Engineer'", region_id=4),
 Row(id=455, last_name="'Hawkins'", email="'jhawkinscm@furl.net'", gender="'Female'", department="'Automotive'", start_date="'6/13/2002'", salary=115506, job_title="'Product Engineer'", region_id=2),
 Row(id=456, last_name="'Watson'", email="'swatsoncn@wufoo.com'", gender="'Female'", department="'Industrial'", start_date="'3/10/2012'", salary=115679, job_title="'Editor'", region_id=2),
 Row(id=463, last_name="'Mason'", email="'dmasoncu@about.com'", gender="'Male'", department="'Tools'", start_date="'12/21/2010'", salary=120160, job_title="'Database Administrator II'", region_id=3),
 Row(id=478, last_name="'Mason'", email="'jmasond9@networkadvertising.org'", gender="'Male'", department="'Sports'", start_date="'4/16/2003'", salary=147166, job_title="'Systems Administrator I'", region_id=6),
 Row(id=489, last_name="'Parker'", email="'lparkerdk@salon.com'", gender="'Female'", department="'Garden'", start_date="'1/16/2014'", salary=78109, job_title="'Research Nurse'", region_id=5),
 Row(id=502, last_name="'Banks'", email="'gbanksdx@berkeley.edu'", gender="'Female'", department="'Computers'", start_date="'10/17/2010'", salary=136034, job_title="'Product Engineer'", region_id=4),
 Row(id=572, last_name="'Duncan'", email="'jduncanfv@etsy.com'", gender="'Male'", department="'Automotive'", start_date="'3/17/2014'", salary=45774, job_title="'Electrical Engineer'", region_id=2),
 Row(id=581, last_name="'Cunningham'", email="'pcunninghamg4@example.com'", gender="'Female'", department="'Sports'", start_date="'3/25/2010'", salary=92334, job_title="'GIS Technical Architect'", region_id=3),
 Row(id=585, last_name="'Lopez'", email="'nlopezg8@fema.gov'", gender="'Male'", department="'Garden'", start_date="'7/19/2007'", salary=138776, job_title="'Senior Editor'", region_id=2),
 Row(id=603, last_name="'Webb'", email="'lwebbgq@last.fm'", gender="'Male'", department="'Jewelery'", start_date="'12/6/2000'", salary=127569, job_title="'Analyst Programmer'", region_id=7),
 Row(id=612, last_name="'Fowler'", email="'cfowlergz@joomla.org'", gender="'Female'", department="'Health'", start_date="'9/10/2003'", salary=142211, job_title="'Software Test Engineer IV'", region_id=4),
 Row(id=619, last_name="'Cole'", email="'jcoleh6@php.net'", gender="'Male'", department="'Tools'", start_date="'6/2/2014'", salary=133190, job_title="'Research Nurse'", region_id=7),
 Row(id=641, last_name="'Hayes'", email="'rhayeshs@loc.gov'", gender="'Female'", department="'Health'", start_date="'4/7/2010'", salary=69454, job_title="'Web Designer II'", region_id=1),
 Row(id=643, last_name="'Johnston'", email="'cjohnstonhu@psu.edu'", gender="'Male'", department="'Jewelery'", start_date="'3/21/2014'", salary=123820, job_title="'Computer Systems Analyst IV'", region_id=4),
 Row(id=647, last_name="'Washington'", email="'mwashingtonhy@icio.us'", gender="'Male'", department="'Electronics'", start_date="'10/15/2009'", salary=57092, job_title="'Internal Auditor'", region_id=2),
 Row(id=649, last_name="'Russell'", email="'krusselli0@posterous.com'", gender="'Male'", department="'Shoes'", start_date="'11/18/2007'", salary=99352, job_title="'Recruiting Manager'", region_id=1),
 Row(id=665, last_name="'Garcia'", email="'pgarciaig@macromedia.com'", gender="'Female'", department="'Health'", start_date="'11/4/2008'", salary=135132, job_title="'Research Assistant III'", region_id=7),
 Row(id=677, last_name="'Robertson'", email="'lrobertsonis@forbes.com'", gender="'Male'", department="'Computers'", start_date="'8/4/2014'", salary=136492, job_title="'Compensation Analyst'", region_id=4),
 Row(id=679, last_name="'Stone'", email="'pstoneiu@narod.ru'", gender="'Male'", department="'Electronics'", start_date="'5/15/2014'", salary=40218, job_title="'Paralegal'", region_id=2),
 Row(id=693, last_name="'Carr'", email="'hcarrj8@latimes.com'", gender="'Male'", department="'Garden'", start_date="'1/17/2005'", salary=143570, job_title="'Actuary'", region_id=4),
 Row(id=700, last_name="'Stone'", email="'tstonejf@com.com'", gender="'Male'", department="'Garden'", start_date="'7/15/2004'", salary=100746, job_title="'VP Quality Control'", region_id=6),
 Row(id=708, last_name="'Rose'", email="'crosejn@cnbc.com'", gender="'Female'", department="'Automotive'", start_date="'12/24/2011'", salary=66063, job_title="'Software Test Engineer I'", region_id=7),
 Row(id=709, last_name="'Payne'", email="'cpaynejo@tinyurl.com'", gender="'Female'", department="'Books'", start_date="'1/12/2007'", salary=138137, job_title="'Developer IV'", region_id=2),
 Row(id=722, last_name="'Hill'", email="'khillk1@about.me'", gender="'Female'", department="'Clothing'", start_date="'8/31/2002'", salary=73262, job_title="'Information Systems Manager'", region_id=5),
 Row(id=731, last_name="'Ferguson'", email="'gfergusonka@geocities.jp'", gender="'Female'", department="'Home'", start_date="'6/28/2009'", salary=70524, job_title="'VP Accounting'", region_id=2),
 Row(id=750, last_name="'Ward'", email="'kwardkt@wikipedia.org'", gender="'Male'", department="'Music'", start_date="'7/16/2014'", salary=108228, job_title="'VP Sales'", region_id=3),
 Row(id=763, last_name="'Bell'", email="'dbelll6@wisc.edu'", gender="'Male'", department="'Computers'", start_date="'4/22/2002'", salary=122843, job_title="'Accountant IV'", region_id=2),
 Row(id=772, last_name="'Elliott'", email="'delliottlf@fda.gov'", gender="'Male'", department="'Movies'", start_date="'10/13/2004'", salary=100570, job_title="'Senior Financial Analyst'", region_id=5),
 Row(id=792, last_name="'Mccoy'", email="'jmccoylz@samsung.com'", gender="'Male'", department="'Industrial'", start_date="'9/20/2007'", salary=95787, job_title="'Engineer IV'", region_id=2),
 Row(id=816, last_name="'Jackson'", email="'pjacksonmn@dailymotion.com'", gender="'Female'", department="'Beauty'", start_date="'12/29/2013'", salary=107093, job_title="'Electrical Engineer'", region_id=3),
 Row(id=829, last_name="'Parker'", email="'bparkern0@weibo.com'", gender="'Male'", department="'Health'", start_date="'11/27/2002'", salary=89503, job_title="'Research Associate'", region_id=2),
 Row(id=838, last_name="'Black'", email="'rblackn9@sun.com'", gender="'Male'", department="'Toys'", start_date="'9/28/2008'", salary=117171, job_title="'Electrical Engineer'", region_id=4),
 Row(id=847, last_name="'Knight'", email="'dknightni@unc.edu'", gender="'Female'", department="'Clothing'", start_date="'3/22/2008'", salary=91532, job_title="'Operator'", region_id=4),
 Row(id=848, last_name="'Austin'", email="'jaustinnj@gov.uk'", gender="'Female'", department="'Shoes'", start_date="'1/26/2005'", salary=101646, job_title="'Environmental Tech'", region_id=1),
 Row(id=859, last_name="'Clark'", email="'mclarknu@bigcartel.com'", gender="'Male'", department="'Health'", start_date="'2/19/2007'", salary=112510, job_title="'Information Systems Manager'", region_id=4),
 Row(id=873, last_name="'Alexander'", email="'aalexandero8@histats.com'", gender="'Female'", department="'Toys'", start_date="'7/5/2006'", salary=140078, job_title="'Environmental Specialist'", region_id=3),
 Row(id=874, last_name="'Spencer'", email="'kspencero9@eventbrite.com'", gender="'Male'", department="'Books'", start_date="'9/29/2012'", salary=119769, job_title="'Director of Sales'", region_id=2),
 Row(id=885, last_name="'Wallace'", email="'mwallaceok@abc.net.au'", gender="'Female'", department="'Toys'", start_date="'9/17/2011'", salary=118793, job_title="'Research Assistant III'", region_id=3),
 Row(id=890, last_name="'Howell'", email="'ehowellop@dailymotion.com'", gender="'Female'", department="'Baby'", start_date="'11/26/2012'", salary=72534, job_title="'Account Executive'", region_id=4),
 Row(id=891, last_name="'Richards'", email="'arichardsoq@so-net.ne.jp'", gender="'Male'", department="'Baby'", start_date="'6/9/2011'", salary=140004, job_title="'Design Engineer'", region_id=7),
 Row(id=898, last_name="'Lee'", email="'kleeox@nature.com'", gender="'Female'", department="'Industrial'", start_date="'12/9/2010'", salary=115085, job_title="'Senior Quality Engineer'", region_id=7),
 Row(id=900, last_name="'Jordan'", email="'tjordanoz@instagram.com'", gender="'Male'", department="'Toys'", start_date="'2/23/2012'", salary=115776, job_title="'Database Administrator I'", region_id=2),
 Row(id=914, last_name="'Armstrong'", email="'carmstrongpd@4shared.com'", gender="'Female'", department="'Beauty'", start_date="'6/7/2006'", salary=143853, job_title="'Design Engineer'", region_id=2),
 Row(id=917, last_name="'Gutierrez'", email="'sgutierrezpg@bloglovin.com'", gender="'Male'", department="'Beauty'", start_date="'12/11/2004'", salary=95424, job_title="'VP Product Management'", region_id=2),
 Row(id=927, last_name="'Howard'", email="'dhowardpq@ocn.ne.jp'", gender="'Male'", department="'Music'", start_date="'11/10/2003'", salary=82080, job_title="'Analog Circuit Design manager'", region_id=2),
 Row(id=928, last_name="'Young'", email="'lyoungpr@psu.edu'", gender="'Female'", department="'Kids'", start_date="'12/21/2009'", salary=62799, job_title="'Operator'", region_id=1),
 Row(id=933, last_name="'Williams'", email="'gwilliamspw@columbia.edu'", gender="'Male'", department="'Baby'", start_date="'3/23/2014'", salary=131273, job_title="'Web Developer IV'", region_id=6),

In [19]:
df_sample.show()

+---+------------+--------------------+--------+-------------+------------+------+--------------------+---------+
| id|   last_name|               email|  gender|   department|  start_date|salary|           job_title|region_id|
+---+------------+--------------------+--------+-------------+------------+------+--------------------+---------+
|  3|      'Carr'|'fcarr2@woothemes...|  'Male'| 'Automotive'| '7/12/2009'|101768|'Recruiting Manager'|        3|
| 10|   'Sanchez'|'rsanchez9@cloudf...|  'Male'|     'Movies'| '3/13/2013'|108093|'Sales Representa...|        1|
| 17|    'Morgan'|'dmorgang@123-reg...|'Female'|       'Kids'|  '5/4/2011'|148952|     'Programmer IV'|        6|
| 27|     'Owens'|'cowensq@shareasa...|'Female'|       'Home'| '5/26/2005'| 78698|'Executive Secret...|        2|
| 47|    'Oliver'|'joliver1a@cnbc.com'|'Female'|   'Clothing'| '8/30/2013'| 42797|'Software Enginee...|        5|
| 58|     'Baker'|'jbaker1l@usnews....|  'Male'|      'Games'|  '3/2/2007'| 68857|'Information Syst...|        2|
| 59|    'Garcia'|'vgarcia1m@devian...|'Female'|     'Health'| '3/19/2002'| 48360|  'Registered Nurse'|        6|
| 67|     'Mills'|'jmills1u@printfr...|'Female'|    'Grocery'|  '8/8/2004'|114200|'Senior Sales Ass...|        7|
| 80|    'Little'|  'klittle27@un.org'|  'Male'|      'Music'| '9/12/2001'|114647|            'Editor'|        5|
| 93|    'Knight'|'nknight2k@cafepr...|'Female'|'Electronics'|  '4/3/2014'|125847| 'Chemical Engineer'|        5|
|115|    'Nguyen'|'rnguyen36@bandca...|'Female'|   'Clothing'| '6/30/2007'| 58420|  'Graphic Designer'|        1|
|127|    'Harper'|'sharper3i@slides...|'Female'|   'Outdoors'| '5/18/2000'|144639|'VP Quality Control'|        7|
|139|      'Hart'|   'rhart3u@wsj.com'|  'Male'|   'Jewelery'|  '1/8/2012'|119773|        'Pharmacist'|        3|
|141|'Williamson'|'rwilliamson3w@am...|  'Male'|      'Games'|'12/12/2005'|145575|     'VP Accounting'|        1|
|146|  'Thompson'|'athompson41@book...|  'Male'|     'Movies'|  '2/4/2009'|133281| 'Account Executive'|        6|
|149|     'Meyer'|'jmeyer44@faceboo...|'Female'|       'Toys'|  '5/3/2008'| 76352|'Human Resources ...|        4|
|171|    'Harris'|'mharris4q@square...|'Female'|     'Movies'| '9/27/2004'|110912|       'Geologist I'|        5|
|178|    'Butler'|'cbutler4x@amazon...|'Female'|     'Sports'| '2/17/2003'| 78157|         'Librarian'|        1|
|182|     'Gomez'|'rgomez51@baidu.com'|'Female'| 'Industrial'|  '4/4/2009'| 76932|   'Legal Assistant'|        5|
|185|    'Watson'|'rwatson54@webede...|'Female'|   'Clothing'| '9/22/2001'| 74648|  'Health Coach III'|        2|
+---+------------+--------------------+--------+-------------+------------+------+--------------------+---------+
only showing top 20 rows

In [20]:
type(df_sample)

pyspark.sql.dataframe.DataFrame

### Preprocessing

#### Min-Max Scaling

In [21]:
from pyspark.ml import feature
from pyspark.ml.linalg import Vectors

In [22]:
df2 = spark.createDataFrame(data = [(1, Vectors.dense([10.0, 10000.0, 1.0])),
                                    (2, Vectors.dense([20.0, 20000.0, 2.0])),
                                    (3, Vectors.dense([30.0, 30000.0, 3.0]))],
                            schema = ["id", "features"])
df2

DataFrame[id: bigint, features: vector]

In [23]:
df2.show()

+---+------------------+
| id|          features|
+---+------------------+
|  1|[10.0,10000.0,1.0]|
|  2|[20.0,20000.0,2.0]|
|  3|[30.0,30000.0,3.0]|
+---+------------------+

In [24]:
df2.schema

StructType(List(StructField(id,LongType,true),StructField(features,VectorUDT,true)))

In [25]:
df2.columns

['id', 'features']

In [26]:
df2.collect()

[Row(id=1, features=DenseVector([10.0, 10000.0, 1.0])),
 Row(id=2, features=DenseVector([20.0, 20000.0, 2.0])),
 Row(id=3, features=DenseVector([30.0, 30000.0, 3.0]))]

In [27]:
minmax_scaler = feature.MinMaxScaler(inputCol = "features",
                                     outputCol = "minmax_features")
minmax_scaler = minmax_scaler.fit(dataset = df2)
df2_scaled = minmax_scaler.transform(dataset = df2)
df2_scaled.show()

+---+------------------+---------------+
| id|          features|minmax_features|
+---+------------------+---------------+
|  1|[10.0,10000.0,1.0]|      (3,[],[])|
|  2|[20.0,20000.0,2.0]|  [0.5,0.5,0.5]|
|  3|[30.0,30000.0,3.0]|  [1.0,1.0,1.0]|
+---+------------------+---------------+

In [28]:
df2_scaled.limit(2).collect()

[Row(id=1, features=DenseVector([10.0, 10000.0, 1.0]), minmax_features=SparseVector(3, {})),
 Row(id=2, features=DenseVector([20.0, 20000.0, 2.0]), minmax_features=DenseVector([0.5, 0.5, 0.5]))]

In [29]:
df2_scaled.collect()

[Row(id=1, features=DenseVector([10.0, 10000.0, 1.0]), minmax_features=SparseVector(3, {})),
 Row(id=2, features=DenseVector([20.0, 20000.0, 2.0]), minmax_features=DenseVector([0.5, 0.5, 0.5])),
 Row(id=3, features=DenseVector([30.0, 30000.0, 3.0]), minmax_features=DenseVector([1.0, 1.0, 1.0]))]

In [30]:
df2_scaled.select("features", "minmax_features").show()

+------------------+---------------+
|          features|minmax_features|
+------------------+---------------+
|[10.0,10000.0,1.0]|      (3,[],[])|
|[20.0,20000.0,2.0]|  [0.5,0.5,0.5]|
|[30.0,30000.0,3.0]|  [1.0,1.0,1.0]|
+------------------+---------------+

#### Standardization

In [31]:
df2 = spark.createDataFrame(data = [(1, Vectors.dense([10.0, 10000.0, 1.0])),
                                    (2, Vectors.dense([20.0, 20000.0, 2.0])),
                                    (3, Vectors.dense([30.0, 30000.0, 3.0])),
                                    (3, Vectors.dense([30.0, 30000.0, 3.0])),
                                    (3, Vectors.dense([40.0, 40000.0, 4.0]))],
                            schema = ["id", "features"])
df2.show()

+---+------------------+
| id|          features|
+---+------------------+
|  1|[10.0,10000.0,1.0]|
|  2|[20.0,20000.0,2.0]|
|  3|[30.0,30000.0,3.0]|
|  3|[30.0,30000.0,3.0]|
|  3|[40.0,40000.0,4.0]|
+---+------------------+

In [32]:
scaler = feature.StandardScaler(inputCol = "features",
                                outputCol = "s_features",
                                withMean = True,
                                withStd = True)
scaler = scaler.fit(dataset = df2)
df2_scaled = scaler.transform(dataset = df2)
df2_scaled.show()

+---+------------------+--------------------+
| id|          features|          s_features|
+---+------------------+--------------------+
|  1|[10.0,10000.0,1.0]|[-1.4032928308912...|
|  2|[20.0,20000.0,2.0]|[-0.5262348115842...|
|  3|[30.0,30000.0,3.0]|[0.35082320772281...|
|  3|[30.0,30000.0,3.0]|[0.35082320772281...|
|  3|[40.0,40000.0,4.0]|[1.22788122702984...|
+---+------------------+--------------------+

In [33]:
df2_scaled.show(truncate = False)

+---+------------------+-------------------------------------------------------------+
|id |features          |s_features                                                   |
+---+------------------+-------------------------------------------------------------+
|1  |[10.0,10000.0,1.0]|[-1.403292830891247,-1.4032928308912467,-1.403292830891247]  |
|2  |[20.0,20000.0,2.0]|[-0.5262348115842176,-0.5262348115842175,-0.5262348115842177]|
|3  |[30.0,30000.0,3.0]|[0.3508232077228117,0.35082320772281167,0.35082320772281167] |
|3  |[30.0,30000.0,3.0]|[0.3508232077228117,0.35082320772281167,0.35082320772281167] |
|3  |[40.0,40000.0,4.0]|[1.2278812270298411,1.2278812270298407,1.227881227029841]    |
+---+------------------+-------------------------------------------------------------+

#### Bucketizer

In [34]:
df2 = spark.createDataFrame(data = [(1, 5000.0),
                                    (2, 15000.0),
                                    (3, 30000.0),
                                    (3, 35000.0),
                                    (3, 40000.0)],
                            schema = ["id", "points"])

In [35]:
splits = [-float("inf"), 0, 10000, 30000, float("inf")]

In [36]:
bucketizer = feature.Bucketizer(splits = splits,
                                inputCol = "points",
                                outputCol = "points_buckets")

In [37]:
df2_bucket = bucketizer.transform(dataset = df2)

In [38]:
df2_bucket.show()

+---+-------+--------------+
| id| points|points_buckets|
+---+-------+--------------+
|  1| 5000.0|           1.0|
|  2|15000.0|           2.0|
|  3|30000.0|           3.0|
|  3|35000.0|           3.0|
|  3|40000.0|           3.0|
+---+-------+--------------+